---
layout: default
---

<style>
    .icon-grey {
        color: #828282;
    }
</style>

<style>
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: left;
    }
</style>


<div class="container" style="display: flex; align-items: center;">
    <div class="image" style="flex: 1; margin-right: 1cm;">
        <img src="/images/photo.png" alt="Image" style="max-width:100%; height:auto;">
    </div>
    <div class="content" style="flex: 1;">
        <p>Hello world! My name is Harry Anthony and I am a DPhil student at the <a href="https://www.ox.ac.uk/">University of Oxford</a>. As part of the <a href="https://ibme.ox.ac.uk/">IBME group</a>, my research focuses on improving the reliability of deep neural networks in the field of medical imaging, with a particular emphasis on Out-of-distribution (OOD) detection. OOD detection is critical for ensuring the accuracy and safety of medical imaging systems, as it helps to identify when input data differs from its training data. Through my research, I aim to develop novel methods for deep learning algorithms to detect OOD inputs and improve the overall performance of medical imaging systems. Prior to my doctoral studies, I obtained a first class master's degree in Physics from Imperial College London.</p>
    </div>
</div>
<p id="bio-social">
        <a href="mailto:harry.anthony@eng.ox.ac.uk"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script><lord-icon
    src="https://cdn.lordicon.com/tkgyrmwc.json"
    trigger="hover"
    style="width:20px;height:20px"></lord-icon>Email</a> / 
        <a href="https://github.com/HarryAnthony"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>GitHub</a> /
        <a href="https://www.twitter.com/HarryEJAnthony"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>Twitter</a> / 
        <a href="https://www.linkedin.com/in/harry-a-859b1a107/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>LinkedIn</a> /
        <a href="https://scholar.google.com/citations?hl=en&user=Qml3h9gAAAAJ"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#google_scholar"></use></svg>Google Scholar</a> /
        <a href="https://orcid.org/0009-0004-1252-7448" item="sameAs"><i class="ai ai-orcid-square ai-fw icon-grey"></i>ORCID</a> /
        <a href="https://www.researchgate.net/profile/Harry-Anthony" item="sameAs"><i class="ai ai-researchgate-square ai-fw icon-grey"></i>ResearchGate</a>
</p>


<div class="content-wrapper">
    {{content}}
</div>


<script>
function renderPosts(checkbox_checked) {
    var posts = document.getElementsByClassName("post-info");

    for (var i = 0; i < posts.length; i++) {
        var post = posts[i];
        var isTrue = post.innerText.includes(", Harry Anthony");

        if (checkbox_checked) {
            if (isTrue) {
                post.style.display = "none";
            } else {
                 post.style.display = "block";
            }
        } else {
            post.style.display = "block";
        }
    }
}
</script>


<script>
function updateVariable() {
    var isToggled = document.getElementById('color_mode').checked;
    if (isToggled) {
        document.body.classList.add('dark-preview');
        renderPosts(true);
    } else {
        document.body.classList.remove('dark-preview');
        renderPosts(false);
    }
}
</script>

<script>
window.onload = function() {
  updateVariable();
  updateVariable();
};
</script>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/toggle.js"></script>

<div class='first_author_options'>
    <h2>Spotlight Research</h2>

    <div class="btn-container">
        <label class="switch btn-color-mode-switch">
            <input type="checkbox" name="color_mode" id="color_mode" value="1" onclick="updateVariable()">
            <label for="color_mode" data-on="First Author" data-off="Contributor" class="btn-color-mode-switch-inner"></label>
        </label>   
    </div>
</div>


<style>
@media (max-width: 768px) {
    .publications-wrapper {
        flex-direction: column;
        align-items: left;
    }
    .centered_im {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centered_im img {
        max-width: 100%;
        max-height: 100%;
    }
</style>

<div class="publications-wrapper">
    {% for post in site.posts %}
        <div class="post-info" id="post{{ forloop.index }}">
            <div class="centered_im" style = "margin-right: 1cm;">
                <img src="{{ post.image }}" alt="">
            </div>
            <div class="post-title">    
                <a href="{{ post.url | prepend: site.baseurl }}" style="font-size: 20px;"> <h3> {{ post.title }} </h3> </a>
                <p> 
                    {% if post.authors contains 'Harry Anthony' %}
                        {% assign parts = post.authors | split: 'Harry Anthony' %}
                        <span>{{ parts[0] }}</span>
                        <strong>Harry Anthony</strong>
                        <span>{{ parts[1] }}</span>
                    {% else %}
                        {{ post.authors }}
                    {% endif %}
                </p>
                <p class="post-place"> {{ post.place }} </p>
                {% if post.comments %}   
                    <p class="post-comments" style="display: flex; align-items: center;">&#x1F3C6; {{ post.comments }} </p>
                {% else %}
                    <p class="post-comments"></p>
                {% endif %}
                <div class="post-paper">
                    {% if post.paper %}   
                        <a href="{{ post.paper | prepend: site.baseurl }}"><button class="rounded-button" type="button">Paper</button></a>
                    {% endif %}
                    {% if post.arxiv %} 
                        <a href="{{ post.arxiv | prepend: site.baseurl }}"><button class="rounded-button" type="button">Arxiv</button></a>
                    {% endif %}
                    {% if post.code %} 
                        <a href="{{ post.code | prepend: site.baseurl }}"><button class="rounded-button" type="button">Code</button></a>
                    {% endif %}
                    {% if post.poster %} 
                     <a href="{{ post.poster | prepend: site.baseurl }}"><button class="rounded-button" type="button">Poster</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    <a href='https://ibme.ox.ac.uk/'> <img src="images/logo.jpg" alt="Logo of Oxford University" style="width:300px;height:100px;"></a>
</div>


<style>
    .rounded-button {
        border: none;
        border-radius: 14px;
        padding: 7px 16px;
        background-color: #639f95;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
        font-weight: 200;
    }

    .rounded-button:hover {
        background-color: #73c5b9;
    }
    .disabled {
        cursor: not-allowed;
    }


    .first_author_options {
        position: static;
        top: 60px; 
    }

</style>


