---
layout: default
---

<div class="bio-wrapper">
    <img src="/images/photo.png" alt="" />
    <p>{{ site.description }} </p>
    <p id="bio-social">
        <a href="mailto:harry.anthony@eng.ox.ac.uk">Email</a> / 
        <a href="https://github.com/HarryAnthony">GitHub</a> / 
        <a href="https://www.twitter.com/HarryEJAnthony">Twitter</a> / 
        <a href="https://www.linkedin.com/in/harry-a-859b1a107/">LinkedIn</a> / 
    </p>
    
</div>

<div class="content-wrapper">
    {{content}}
</div>


