---
layout: default
---

<div class="bio-wrapper">
    <img src="/images/photo.png" alt="" />
    <p>{{ site.description }} </p>
    <p id="bio-social">
        <a href="mailto:harry.anthony@eng.ox.ac.uk"><script src="https://cdn.lordicon.com/ritcuqlt.js"></script><lord-icon
    src="https://cdn.lordicon.com/tkgyrmwc.json"
    trigger="hover"
    style="width:10px;height:10px"></lord-icon>Email</a> / 
        <a href="https://github.com/HarryAnthony"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg>GitHub</a> /
        <a href="https://www.twitter.com/HarryEJAnthony"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg>Twitter</a> / 
        <a href="https://www.linkedin.com/in/harry-a-859b1a107/"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg>LinkedIn</a> / 
        <a href="https://github.com/HarryAnthony">GitHub</a> / 
        <a href="https://www.twitter.com/HarryEJAnthony">Twitter</a> / 
        <a href="https://www.linkedin.com/in/harry-a-859b1a107/">LinkedIn</a> / 
    </p>
    
</div>

<div class="content-wrapper">
    {{content}}
</div>


