---
layout: default
---

<div class="publications-wrapper">
    <h1>Research / <a href="https://scholar.google.com/citations?hl=en&user=Qml3h9gAAAAJ">Google Scholar</a></h1>
    
    {% for post in site.posts %}
        <div class="post-info">
            <img src="{{ post.image }}" alt="" />
            <div class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <p> {{ post.authors }} </p>
                <p class="post-place"> {{ post.place }} </p>
                {% if post.comments %}   
                    <p class="post-comments"><img src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20fill='%23666666'%20height='16'%20viewBox='0%200%2024%2024'%20width='16'%3E%3Cpath%20d='M0%200h24v24H0z'%20fill='none'%2F%3E%3Cpath%20d='M12%202a9%209%200%201%200%209%209%209.01%209.01%200%200%200-9-9zm0%2016c-3.87%200-7-3.13-7-7s3.13-7%207-7%207%203.13%207%207-3.13%207-7%207z'%2F%3E%3C%2Fsvg%3E"> {{ post.comments }} </p>
                {% else %}
                    <p class="post-comments"></p>
                {% endif %}
                <p class="post-year"> {{ post.year }} </p>
                <div class="post-paper">
                    {% if post.paper %}   
                        <a href="{{ post.paper | prepend: site.baseurl }}"><button class="rounded-button" type="button">Paper</button></a>
                    {% endif %}
                    {% if post.arxiv %} 
                        <a href="{{ post.arxiv | prepend: site.baseurl }}"><button class="rounded-button" type="button">Arxiv</button></a>
                    {% endif %}
                    {% if post.code %} 
                        <a href="{{ post.code | prepend: site.baseurl }}"><button class="rounded-button" type="button">Code</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


<style>
    .rounded-button {
        border: none;
        border-radius: 14px;
        padding: 7px 16px;
        background-color: #639f95;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
    }

    .rounded-button:hover {
        background-color: #73c5b9;
    }
</style>